@font-face {
	font-family: 'Raleway-Regular';
    src: url('../assets/fonts/static/Raleway-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Raleway-Regular';
    src: url('../assets/fonts/static/Raleway-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

/* Desktop display */

/* Base */
/* .... */

* {
	padding: 0;
	margin: 0;
}

body {
    border: 2px solid pink;
    margin: auto;
    padding-right: 30px;
    padding-left: 30px;
    max-width: 1400px;
    /* Base 10px */
    font-size: 62.5%;
    font-size: 14px;
    font-family: 'Raleway-Regular';
}

img {
	max-width: 100%;
}

h1 {
    margin: 0;
}

h3 {
    font-size: 17px;
}

ul {
    list-style-type: none;
}


/* Layout */
/* ...... */

/* header */

header {
    border: 2px solid purple;
    display: flex;
    justify-content: space-between;
}

header figure {
    border: 3px solid blue;
    margin-top: auto;
    margin-bottom: auto;
    width: 70px;
}

/* Main */

/* Accomodation */

.container {
    display: flex;
    justify-content: space-between;
}

.container-accomodation-primary {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
    width: 75%;
    background-color: #F2F2F2;
    border-radius: 20px;
}

.container-accomodation-secondary {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid red;
}

.show-more {
    border: 2px solid orange;
    display: inline-block;
    margin-top: 35px;
}

/* Popular */

.container-popular-primary {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
    /* width: 350px; */
    width: 25%;
    background-color: #F2F2F2;
    border-radius: 20px;
}

.container-popular-primary h2 {
    display: flex;
    justify-content: space-between;
}

/* Activity */

.activity-container{
    border: 2px solid purple;
}

.activity-container-primary {
    border: 2px solid blue;
    display: flex;
    justify-content: center;
}

/* Footer */

footer ul {
    border: 2px solid blue;
    width: 270px;
}

.footer-title {
    margin-bottom: 17px;
}

/* Components */
/* .......... */

/* Component menu */

header nav ul {
    border: 3px solid blue;
    display: flex;
}

header ul li {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 2px solid white;
    border: 1px solid green;
}

header ul li:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

/* Component search */

.component-search {
    display: flex;
    border: 2px solid purple;
}

.component-search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.component-search-city {
    padding-right: 5px;
    padding-left: 5px;
    outline: none;
    border: 1px solid #F2F2F2; 
    font-weight: bold;
}

.component-search-button {
    width: 90px;
    outline: none;
    border: none;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border-radius: 0px 15px 15px 0px;
}

/* Component filter */

.component-filter {
    border: 2px solid purple;
    display: flex;
    align-items: center;
}

.component-filter h2 {
    margin-right: 10px;
}

.component-filter-container {
    display: flex;
}

.component-filter-content {
    border: 2px solid #F0F2F6;
    padding: 10px;
    border-radius: 10rem;
    font-weight: bold;
}

.component-filter-content:hover {
    background-color: #DEEBFF;
}

.component-filter-content i {
    margin-right: 5px;
}

/* Component notification */

.component-notification-icon {
    padding: 5px 10px 8px 10px;
    margin-right: 10px;
    border: 2px solid #F0F2F6;
    border-radius: 30px;
}

/* Component accommodation */

.component-accommodation {
    border: 2px solid blue;
    padding: 3px;
    /* width: 295px; */
    width: 30%;
    background-color: #FFFFFF;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
}

.component-accommodation figure {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
    border: 2px solid  green;
}

.component-accommodation-image {
    object-fit: cover;
    height: 130px;
}

.component-accommodation-text {
    border:2px solid red;
    margin: 10px 5px 5px 8px;
    /* margin-top: 7px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px; */
    background-color: #FFFFFF;
}

.component-accommodation-text p {
    margin-bottom: 5px;
}

.component-accommodation-comment {
    margin-bottom: 5px;
}

.component-accommodation-icon {
    color: #F2F2F2;
}

.component-accommodation-margin-right {
    margin-right: 15px;
}

/* component popular */

.component-popular-container {
    border: 2px solid blue;
    display: flex;
    padding: 5px;
    background-color: #FFFFFF;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
}

.component-popular-figure {
    border: 2px solid green;
    display: flex;
    border-radius: 20px 0 0 20px;
    overflow: hidden;
    /* width: 130px; */
    /* width: 100%; */
}

.component-popular-figure img {
    width: 130px;
    height: 150px;
    object-fit: cover;
}

.component-popular-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    margin-left: 15px;
    border: 2px solid red;
}

.component-popular-comment {
    margin-top: 10px;
}

/* Component activity */

.activity-container-primary figure {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    max-width: 315px;
    min-width: 150px;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    overflow: hidden;
}

.activity-container-primary figure img {
    height: 450px;
    object-fit: cover;
}

.activity-container-primary figcaption {
    border: 2px solid red;
    padding: 10px;
}

/* Component-footer */

.component-footer {
    border: 2px solid skyblue;
    display: flex;
    padding: 40px;
    background-color: #F2F2F2;
}


/* Factored */
/* ........ */

.color-primary {
    color: #0065FC;
}

.font-weight-bold {
    font-weight: bold;
}

.font-size-bold {
    font-size: 17px;
}

.cursor-pointer {
    cursor: pointer;
}

.padding-top {
    padding-top: 50px;
}

.padding-left {
    padding-left: 50px;
}

.padding-right {
    padding-right: 50px;
}

.margin-top {
    margin-top: 20px;
}

.margin-bottom {
    margin-bottom: 20px;
}

.margin-right {
    margin-right: 20px;
}

.margin-left {
    margin-left: 20px;
}

.margin-bottom-footer {
    margin-bottom: 10px;
}

.margin-right-footer {
    margin-right: 100px;
}

.margin-right-component {
    margin-right: 40px;
}

/* Tablet display */

@media screen and (min-width: 768px) and (max-width: 991px) {
    body {
        background-color: orange;
    }
}