@font-face {
	font-family: 'Raleway-Regular';
    src: url('../assets/fonts/static/Raleway-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Raleway-Regular';
    src: url('../assets/fonts/static/Raleway-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

/* Base */
/* .... */

* {
	padding: 0;
	margin: 0;
}

body {
    /* Base 10px */
    font-size: 62.5%;
    font-size: 12px;
    font-family: 'Raleway-Regular';
    max-width: 1400px;
}

img {
	max-width: 100%;
}

h1 {
    margin: 0;
}


/* Layout */
/* ...... */

/* header */

header {
    border: 2px solid purple;
    display: flex;
    justify-content: space-between;
}

header figure {
    border: 3px solid blue;
    margin-top: auto;
    margin-bottom: auto;
    width: 70px;
}

header nav ul {
    border: 3px solid blue;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

header ul li {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px solid green;
}


/* Components */
/* .......... */

.component-search {
    display: flex;
    border: 2px solid purple;
}
.component-search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.component-search-city {
    padding-right: 5px;
    padding-left: 5px;
    outline: none;
    border: 1px solid #F2F2F2; 
    font-weight: bold;
}

.component-search-button {
    width: 90px;
    outline: none;
    border: none;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border-radius: 0px 15px 15px 0px;
}


/* Factored */
/* ........ */

.cursor-pointer {
    cursor: pointer;
}

.padding-left {
    padding-left: 50px;
}

.padding-right {
    padding-right: 50px;
}